

body.login .login-container2 {
    /* position: absolute; */
    /* display: flex; */
    z-index: 10;
    width: 100%;
    padding: 30px;
    /* top: 25%; */
    /* max-height: 50%; */
    /* margin-top: -250px; */
    align-self: center;
}
.btn-padd{
    padding-left: 0px ;
}
.red{
    background-color: red !important;
}